<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">

	<title>DataTables example - Server-side processing</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'media/css/jquery.dataTables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'examples/resources/syntax/shCore.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'examples/resources/demo.css') }}">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='media/js/jquery.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='media/js/jquery.dataTables.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='examples/resources/syntax/shCore.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='examples/resources/demo.js') }}"></script>
	<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').dataTable( {
		"processing": true,
		"serverSide": true,
		"ordering":  false,
		"ajax": "/dt"
	} );
} );

	</script>
</head>

<body class="dt-example">
	<div class="container">
		<section>
			<h1>DataTables example <span>Server-side processing</span></h1>

			<div class="info">
			</div>

			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>hostname</th>
						<th>ip</th>
						<th>location</th>
						<th>tags</th>
						<th>hwinfo</th>
						<th>Sn</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>hostname</th>
						<th>ip</th>
						<th>location</th>
						<th>tags</th>
						<th>hwinfo</th>
						<th>Sn</th>
					</tr>
				</tfoot>
			</table>
</body>
</html>
