<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">

	<title>Editor example - Basic initialisation</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'media/css/jquery.dataTables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'extensions/TableTools/css/dataTables.tableTools.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'extensions/Editor-1.3.3/css/dataTables.editor.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'examples/resources/syntax/shCore.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'examples/resources/demo.css') }}">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='media/js/jquery.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='media/js/jquery.dataTables.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='extensions/TableTools/js/dataTables.tableTools.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='extensions/Editor-1.3.3/js/dataTables.editor.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='examples/resources/syntax/shCore.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='examples/resources/demo.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='extensions/Editor-1.3.3/examples/resources/editor-demo.js') }}"></script>
	<script type="text/javascript" language="javascript" class="init">



var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
	editor = new $.fn.dataTable.Editor( {
		ajax: "/dt2",
		table: "#example",
		fields: [ {
				label: "Hostname:",
				name: "hostname"
			}, {
				label: "Ip:",
				name: "ip"
			}, {
				label: "Location:",
				name: "location"
			}, {
				label: "Tags:",
				name: "tags"
			}, {
				label: "hwinfo:",
				name: "hwinfo"
			}, {
				label: "sn:",
				name: "sn",
			}
			
		]
	} );

	$('#example').DataTable( {
		dom: "Tfrtip",
		ajax: "/dt2",
	     
		columns: [
			{ data: "hostname",defaultContent:"2" },
			{ data: "ip" },
			{ data: "location" },
			{ data: "tags" },
			{ data: "hwinfo" },
			{ data: "sn" }
		],
		tableTools: {
			sRowSelect: "os",
			aButtons: [
				{ sExtends: "editor_create", editor: editor },
				{ sExtends: "editor_edit",   editor: editor },
				{ sExtends: "editor_remove", editor: editor }
			]
		}
	} );
} );



	</script>
</head>

<body class="dt-example">
	<div class="container">
		<section>
			<h1>Editor example <span>Basic initialisation</span></h1>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>hostname</th>
						<th>ip</th>
						<th>location</th>
						<th>tags</th>
						<th>hwinfo</th>
						<th>sn</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>hostname</th>
						<th>ip</th>
						<th>location</th>
						<th>tags</th>
						<th>hwinfo</th>
						<th>sn</th>
					</tr>
				</tfoot>
			</table>

			<ul class="tabs">
				<li class="active">Javascript</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Ajax</li>
				<li>Server-side script</li>
			</ul>

			<div class="tabs">
				<div class="js">
					<p>The Javascript shown below is used to initialise the table shown in this
					example:</p><code class="multiline brush: js;">var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
	editor = new $.fn.dataTable.Editor( {
		ajax: &quot;/dt2&quot;,
		table: &quot;#example&quot;,
		fields: [ {
				label: &quot;First name:&quot;,
				name: &quot;first_name&quot;
			}, {
				label: &quot;Last name:&quot;,
				name: &quot;last_name&quot;
			}, {
				label: &quot;Position:&quot;,
				name: &quot;position&quot;
			}, {
				label: &quot;Office:&quot;,
				name: &quot;office&quot;
			}, {
				label: &quot;Extension:&quot;,
				name: &quot;extn&quot;
			}, {
				label: &quot;Start date:&quot;,
				name: &quot;start_date&quot;,
				type: &quot;date&quot;
			}, {
				label: &quot;Salary:&quot;,
				name: &quot;salary&quot;
			}
		]
	} );

	$('#example').DataTable( {
		dom: &quot;Tfrtip&quot;,
		ajax: &quot;/dt2&quot;,
		columns: [
			{ data: null, render: function ( data, type, row ) {
				// Combine the first and last names into a single table field
				return data.first_name+' '+data.last_name;
			} },
			{ data: &quot;position&quot; },
			{ data: &quot;office&quot; },
			{ data: &quot;extn&quot; },
			{ data: &quot;start_date&quot; },
			{ data: &quot;salary&quot;, render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
		],
		tableTools: {
			sRowSelect: &quot;os&quot;,
			aButtons: [
				{ sExtends: &quot;editor_create&quot;, editor: editor },
				{ sExtends: &quot;editor_edit&quot;,   editor: editor },
				{ sExtends: &quot;editor_remove&quot;, editor: editor }
			]
		}
	} );
} );</code>

			</div>
		</div>
	</section>
</body>
</html>